/* 
#################################
####### Table Of Contents #######
#################################

1. Custom Properties
2. CSS Reset
3. Preset / Utility classes
4. Components
5. Global Layout
6. Section Specific

#################################
*/


/**********************************************************************/
/* #region 1. Custom Properties */
/**********************************************************************/

@font-face {
  font-family: 'Big Shoulders Display, Black';
  src: url('./assets/fonts/BigShouldersDisplay/BigShouldersDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Big Shoulders Display, ExtraBold';
  src: url('./assets/fonts/BigShouldersDisplay/BigShouldersDisplay-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit, Light';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



:root {
  /* Colors */
  --grey-700: #444444;
  --grey-900: #151515;
  --gold-500: #d5966c;
  --white-custom: #ffffff;
  
  /* Typography */
  --heading-font: 'Big Shoulders Display, Black', 'Arial Narrow', Impact, sans-serif;
  --heading-font-bold: 'Big Shoulders Display, ExtraBold', 'Arial Narrow', Impact, sans-serif;
  --font-body: 'Outfit, Light', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Century Gothic, sans-serif;

  /* Spacing */
  --spacing-0: 0;             /* 0px  */
  --spacing-025: 0.125rem;     /* 2px  */
  --spacing-050: 0.25rem;      /* 4px  */
  --spacing-075: 0.375rem;     /* 6px  */
  --spacing-100: 0.5rem;      /* 8px  */
  --spacing-125: 0.625rem;    /* 10px */  
  --spacing-150: 0.75rem;     /* 12px */
  --spacing-200: 1rem;        /* 16px */
  --spacing-250: 1.25rem;     /* 20px */  
  --spacing-300: 1.5rem;      /* 24px */
  --spacing-400: 2rem;        /* 32px */
  --spacing-500: 2.5rem;      /* 40px */
  --spacing-600: 3rem;        /* 48px */
  --spacing-800: 4rem;        /* 64px */
  --spacing-1000: 5rem;       /* 80px */  

  /* Radius */
  --radius-0: 0;              /*  */
  --radius-4: 0.25rem;        /*  */
  --radius-6: 0.375rem;       /*  */  
  --radius-8: 0.5rem;         /*  */  
  --radius-10: 0.625rem;      /*  */
  --radius-12: 0.75rem;       /*  */
  --radius-16: 1rem;          /*  */
  --radius-20: 1.25rem;       /*  */
  --radius-24: 1.5rem;        /*  */ 
  --radius-full: 62.4375rem;  /*  */

  /* Theme and Color Variables */
  --bg-light: var(--white-custom);
  --bg-dark: var(--grey-900);

  --text-primary: var(--grey-900);
  --text-secondary: var(--grey-700);
  --text-light: var(--white-custom);

  --accent: var(--gold-500);
}

/**********************************************************************/
/* #endregion */


/**********************************************************************/
/* #region 2 CSS Reset */
/**********************************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: clamp(6.25rem, 0.5357rem + 11.9048vw, 11.25rem);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  appearance: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  color: var(--text-secondary);
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: var(--white-custom);
}

/**********************************************************************/
/* #endregion */


/**********************************************************************/
/* #region 3 Preset / Utility classes */
/**********************************************************************/

.text-preset-1 {
  line-height: 0.9;
  font-family: var(--heading-font);
  font-size: clamp(3.75rem, 3.1071rem + 3.2143vw, 6rem);
}

.text-preset-2 {
  font-family: var(--heading-font);
  line-height: clamp(90%, 78.57% + 0.0149vw, 100%);
  font-size: clamp(3.4375rem, 2.3661rem + 2.2321vw, 4.375rem);
}

.text-preset-3 {
  font-family: var(--heading-font);
  line-height: clamp(90%, 78.57% + 0.0149vw, 100%);
  font-size: clamp(3.125rem, 2.4107rem + 1.4881vw, 3.75rem);
}

.text-preset-4 {
  font-family: var(--heading-font);
  line-height: 1;
  font-size: 2.25rem;
}

.text-preset-5 {
  line-height: 1.4;
  font-family: var(--font-body);
  font-size: 1.375rem;
}

.text-preset-6 {
  line-height: 0;
  letter-spacing: 0.2275rem;
  font-family: var(--heading-font-bold);
  font-size: 1.25rem;
}

.text-preset-7 {
  line-height: 1.4;
  font-family: var(--font-body);
  font-size: 1.125rem;
}


/**********************************************************************/
/* #endregion */


/**********************************************************************/
/* #region 4 Components */
/**********************************************************************/

/* Button base component and  */
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16.25rem;
  height: 4.5rem;
  background-color: var(--bg-dark);
  text-align: center;

  &:hover {
    background-color: var(--accent);

    .button-icon {
      background-color: var(--bg-dark);
    }
  }
}

.button-text {
    text-align: center;
    width: 100%;
    color: var(--white-custom);
  }

.button:focus-visible {
  outline: var(--spacing-025) solid var(--accent);
  outline-offset: 0.2rem;
}

.button-icon {
  display: inherit;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  width: 3.5rem;
  height: 4.5rem;
}

.button.back {
  flex-direction: row-reverse;
}


/**********************************************************************/
/* #endregion */


/**********************************************************************/
/* #region 5 Global Layout */
/**********************************************************************/

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-400);

  .section-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-200);
    gap: var(--spacing-400);
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .hero-img, .gallery-info {
      grid-column: 1;
      grid-row: 1;
    }

    .gallery-info {
      z-index: 2;
      margin-right: var(--spacing-600);
      justify-self: end;
      align-self: center;
      max-width: 21.1875rem;
    }
  }
}

.dark-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: var(--spacing-600) var(--spacing-300);
  background-color: var(--bg-dark);
  color: var(--text-light);

    & h2, p {
      color: var(--text-light);
    }    
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
    background-color: var(--bg-dark);
    padding: var(--spacing-600) var(--spacing-500);

    & h3, p {
      color: var(--text-light);
    }

    .footer-logo {
      width: 6.875rem;
      height: 2.49875rem;
    }

    .social-media-icons {
      display: flex;
      gap: var(--spacing-250);
    }
  }



/**********************************************************************/
/* #endregion */


/**********************************************************************/
/* #region 6 Section Specific */
/**********************************************************************/

.gallery.container {
  @media (min-width: 768px) {
    padding: 0 var(--spacing-500);
    gap: var(--spacing-150);
  }
}

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-200);
  gap: var(--spacing-400);
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

    .gallery-section-info {
      grid-column: 1;
      grid-row: 1;
      align-self: center;
      max-width: 223px;
    }

    .gallery-img  {
      grid-column: 2;
      grid-row: 1;
    }
  }
}

.gallery-section-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.inspiration-section {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-200);
  gap: var(--spacing-400);

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      'image2 image3'
      'image2 info';
    gap: var(--spacing-150);

    .image2 {
      grid-area: image2;
      /* align-self: stretch; */
    }

    .image3 {
      width: 280px;
      align-self: stretch;
      grid-area: image3;
    }

    .dark-wrapper {
      grid-area: info;
    }
  }
}

/**********************************************************************/
/* #endregion */
